/* Importando la fuente */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Definiendo colores */
:root {
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    max-width: 100%;
    height: auto;
    
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Marcellus', serif;
}

nav {
    display: flex;
    max-width: 98.3%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
}

.item {
    padding: 1rem;
}

.menu a {
    color: var(--blanco);
    text-decoration: none;
}

.navbar-button {
    background-color: var(--azuloscuro);
    padding: 0.5rem 1rem;
    color: var(--blanco);
    border-radius: 5px;
    font-family: 'Marcellus', serif;
    font-size: 1em;
}

.menu i {
    margin-right: 0.5rem;
}

.logo img {
    height: 3rem;
}

#features {
    background: url(/repositorios/-TALLER_0_Maquetaci-n_Responsive/img/bg-features.png);
    color: white;
    padding-top: 1rem;
}

.features-1 {
    background-color: rgba(0, 0, 0, 0.35); /* Fondo negro semitransparente */
    color: white; /* Color del texto */
    padding: 0.5rem;
    font-size: 1em;
}

.slide-container {
    position: relative;
}

.slide-text {
    position: absolute;
    top: -120px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    padding: 20px;
    text-align: left; /* Alinea el texto a la izquierda */
    color: white; /* Color del texto */
}

.slide-text h1,
.slide-text p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 50px; 
}

.text-container {
    margin-right: 50px; 
    font-size: 28px;
}

.logo-container img {
    max-width: 200px; 
}




.features-title {
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}

.features-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature {
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue {
    background-color: #00325eae;
}

.feature-black {
    background-color: rgba(0, 0, 0, 0.59);
}
.logo{
    background-color: var(--negro2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    }
    .logo img{
        width: 40%;
        max-width: 200px; 
        }
        .logo i{
        color: var(--blanco);
        font-size: 2rem;
        }
        .menu{
            background-color: rgba(1, 10, 52, 0.838);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
            }
            .menu-hr{
                width: 90%;
                background-color: var(--blanco);
                }
                .item{
                padding: 1rem;
                }
                nav a{
                color: var(--blanco);
                text-decoration: none;
                text-align: center;
            }
            nav a:hover{
            background-color: #0B3860;
            width: 100%;
            }
            .navbar-button{
            background-color:transparent;
            border: none;
            border-radius: 3px;
            font-size: 1em;
            padding: 0.5rem;
            font-family: 'Marcellus', serif;
            color: var(--blanco);
            }
            /*Resolución tablet*/
@media screen and (min-width: 768px){
}
/*Resolución notebooks*/
@media screen and (min-width: 1024px){
    nav{
    display: flex;
    flex-direction: row; /*cambiamos la disposición de los elementos*/
    width: 100%;
    justify-content: space-between;
    background-color: var(--negro2);
    }
    .logo{
    padding: 1rem;
    }
    .logo img{
    width: 100%;
    max-width: 180px; 
    }
    .logo i{ /*ocultamos el ícono bars del menú hamburguesa*/
    display: none;
    } 
}
.menu{
    background-color: var(--negro2);
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    .menu-hr{ /*ocultamos la barra de división*/
    display: none;
    }
    .navbar-button{
    background-color:var(--azuloscuro);
    }
    
/*Resolución notebooks*/
@media screen and (min-width: 1308px){
}
/*Resolución Movil pequeño*/
@media screen and (min-width: 360px){
}
/*Resolución Movil medio*/
@media screen and (min-width: 375){
}
/*Resolución Movil grande*/
@media screen and (min-width: 720){
}
#banner { 
    background-image: url('/repositorios/-TALLER_0_Maquetaci-n_Responsive/img/slide1.jpg'); 
    background-size: cover; 
    background-position: 50% 50%; 
    min-height: 400px; 
    margin-top: 0px;  
} 
.locate {
    text-align: center; 
}       
.text-locate{
    font-size: 50px;
}

.line-blue {
    background-color: #337AB7; /* Color azul */
    height: 1px; /* Altura de la línea */
    width: 70%; /* Ancho de la línea */
    margin: auto; /* Centra horizontalmente */
}

.opinion {
    position: relative;
    display: inline-block;
  }
  
  .opinion h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    color: white;
  }        
.op-img{
        max-width: 100%;
        height: auto;
      }      